[Unit]
Description=tmux agent service for example user
PartOf=tmux-example-primary.service
After=tmux-example-primary.service

[Service] 
Type=oneshot
RemainAfterExit=yes
User=example
WorkingDirectory=/home/example/mc1

ExecStart=/usr/bin/tmux new-session -s mc1 -d 'wrapper/start.sh'
ExecStop=/bin/sh -c '/usr/bin/tmux list-panes -t mc1 -F "#{pane_pid}" | /usr/bin/xargs ps -o tpgid= | /usr/bin/xargs -I{} kill -s SIGTERM {}'

[Install]
WantedBy=multi-user.target
